@{
    ViewData["Title"] = "Meu desafio de programação mais marcante";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <p>
        Participei da migração de um projeto do Java antigo (JSP) para .NET 6 como Desenvolvedor back-end. Foi desafiante porque nunca tinha trabalhado com essa versão do Java, somente o mobile na faculdade.
        As entidades e migrações foram um ponto crucial, pois o banco já estava populado e a aplicação compartilhava com outra aplicação desktop.
        Por fim, foi solicitado uma nova feature de assinatura de documentos unitários e em lote.
    </p>
</div>

<style>
    p {
        font-size: 26px;
    }
</style>
