@{
    ViewData["Title"] = "Desafio de programação";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <h2>
        Gostaria que você colocasse um texto informando qual desafio de programação mais marcou sua jornada até o momento.
    </h2>
    <p>
        Eu participei da migração de um projeto do java antigo para .NET, foi desafiante por que nunca tinha trabalhado com Java, somente o mobile na faculdade.
        As entidades e migrações foram um ponto crucial pois o banco já estava populado e a aplicação compartilhava com outra aplicação desktop.
        Por fim foi pedido uma nova feature de assinar documentos unitários e em lote. 
    </p>
</div>
