@{
    ViewData["Title"] = "Automação RH";
}

<div class="text-left">
    <h1>@ViewData["Title"]</h1>
    <br/>
    <h1>Luis Roberto</h1>
    <h1>Pessoa Desenvolvedora .Net Pleno</h1>
    <h1>R$ 6.000 - 6.500 CLT</h1>
    <h1>15/11/2023</h1>
</div>




