@{
    ViewData["Title"] = "Automação RH";
}

<div class="text-left">
    <h1>@ViewData["Title"]</h1>
    <br/>
    <p>Luis Roberto</p>
    <p>Pessoa Desenvolvedora .Net Pleno</p>
    <p>R$ 6.000 - 6.500 CLT</p>
    <p>15/11/2023</p>
</div>

<style>
    p {
        font-size: 20px;
    }
</style>




